/* --- GENERAL ---*/

* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    overflow-x: hidden; /* Remove side scroll */
}

.main {
    size: 16px;

}

:root {
    --primary-blue: #1a3c8a; 
    --dark-blue: #15195a;
    --turqoise: #00eeff;
    --light-grey: #f1f3f7;
}

.header {
    background-color: var(--primary-blue);
    padding: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-img {
    width: 100%;
}

.header img {
    max-height: 5rem;
}

.one-column-text {
    max-width: 70%;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav a {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 1.3rem;
    text-decoration: none;
    margin: 0px 10px 0px 10px;
}

footer {
    background-color: var(--dark-blue);
    padding: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
    width: 20%;
    padding: 2px;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.back-to-top {
    background-color: var(--light-grey);
    height: 40px;
    width: 40px;
    border: 1px solid black;

    position: fixed;
    bottom: 20px;
    right: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.uefa-ranking {
    background-color: var(--turqoise);
    width: max-content;
    padding: 7px 10px 7px 10px;
    
    border-radius: 20px;
    border: 1px solid;
    border-color: var(--dark-blue);

    font-size: 0.8rem;
    text-align: center;
    color: var(--dark-blue);
}



/* --- GENERAL FONTS --- */

p {
    font-family: Manrope, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Manrope, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
}



/* --- BUTTONS AND LINKS --- */

.button-primary {
    border: 2px solid;
    border-radius: 10px;
    border-color: var(--primary-blue);

    padding: 15px 45px 15px 45px;
    margin: 10px;
    
    color: var(--primary-blue);
    font-family: Manrope, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.button-primary:hover {
    background-color: var(--primary-blue);
    color: white;
}

.button-secondary {
    border: 2px solid;
    border-radius: 10px;
    border-color: var(--light-grey);

    padding: 15px 45px 15px 45px;
    margin: 10px;
    
    color: var(--light-grey);
    font-family: Manrope, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.button-secondary:hover {
    background-color: var(--light-grey);
    color: var(--primary-blue);
}


/* --- HEADING-BLOCKS WITH IMG ---*/

.heading-block-text {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading-block-start {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/champions-league-winners_q9l8bkoy.avif);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: black;
    background-position: center;
    
    width: 100vw;
    padding: 10%;
}

.heading-block-about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/bkh-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: black;
    background-position: center;
    
    width: 100vw;
    padding: 10%;
}

.heading-block-text h1 {
    font-size: 3rem;
    text-align: center;
}

.heading-block-text p {
    max-width: 60%;
    text-align: center;
    font-size: 1.3rem;
}



/* --- LAYOUT BLOCKS --- */

.one-column-grey {
    background-color: var(--light-grey);
    padding: 5rem;
    justify-items: center;
}

.one-column-text {
    max-width: 70%;
    text-align: center;
}

.two-column {
    display: flex;
    align-items: center;
}

.two-column img {
    width: 50vw;
}

.two-column-text {
    margin: 15%;
}



/* --- BACKGROUNDS --- */

.background-wave {
    background-image: url(/assets/backgroundDark01L.avif);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 10% 50px 10%;
}



/* --- TEAMS GRID --- */

.teams-background { 
    background-color: var(--primary-blue);
    display: flex;
    justify-content: center;
}

.teams-grid {
    width: 90vw;

    justify-self: center;
    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    background-color: var(--primary-blue);   
}

.teams-box {
    background-color: white;
    border-radius: 1rem;

    margin: 20px;
    padding: 8px;

    width: 20%;
    height: auto;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.teams-box:hover {
    box-shadow: 0px 0px 30px 1px
}

.teams-logo {
    height: 40%;
    width: 70%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.teams-logo img {
    max-height: 100%;
    max-width: 100%;
}



/* --- PAGE: TEAMS-INFO ---*/

.teams-presentation {
    padding: 50px;
}

.teams-presentation-logo img {
    max-height: 200px;
}

.teams-presentation-header {
    display: flex;
    justify-content: space-around;
}

.teams-presentation-logo-text {
    display: flex;
    justify-content: left;
    align-items: center;
}

.teams-presentation-text {
    margin: 10px;
    color: black;
}

.teams-presentation-button {
    display: flex;
    align-items: center;
}


/* --- OPPONENTS --- */

.h2-white {
    color: white;
    justify-self: center;
    text-align: center;
    font-size: 2rem;
}

.opponents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.opponents-box {
    background-color: white;
    border-radius: 1rem;

    margin: 20px;
    padding: 8px;

    width: 25%;
    max-height: 50%;
    
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.opponents-box:hover {
    box-shadow: 0px 0px 30px 1px
}

.opponents-logo {
    height: 30%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.opponents-logo img {
    max-height: 100%;
    max-width: 100%;
}








/* -- MEDIA QUERY 1200 -- */

@media only screen and (max-width: 1200px) {

    /* -- START PAGE -- */

    .heading-block-start {
        background-size: 100% auto;
    }

    .heading-block-text p {
        max-width: 80%;
    }

    .teams-box {
        width: 25%;
    }

    /* --- TEAMS INFO ---*/

    .opponents-box {
        width: 30%;
        margin: 10px;
    }

    /* -- ABOUT  --*/

    .two-column img {
        margin-right: 20px;   
 }

}











/* -- MEDIA QUERY MAX 992 -- */

@media only screen and (max-width: 992px) {

    /* -- START PAGE -- */

    .heading-block-start {
        background-size: auto 100%;
    }

    .heading-block-text p {
        max-width: 80%;
    }

    .teams-box {
        width: 30%;
        margin: 10px;
    }

    /* --- TEAMS INFO ---*/

    .opponents-box {
        width: 30%;
        margin: 10px;
    }

}





/* -- MEDIA QUERY MAX 768 -- */

@media only screen and (max-width: 768px) {

    /* -- START PAGE -- */

    .heading-block-start {
        background-size: auto 100%;
    }

    .heading-block-text h1 {
        font-size: 2rem;
    }

    .heading-block-text p {
        max-width: 80%;
        font-size: 1rem;
    }

    .teams-box {
        width: 45%;
        margin: 10px;
    }

    /* --- TEAMS INFO ---*/

    .teams-presentation-header {
        flex-direction: column;
        align-items: center;
    }

    .teams-presentation-logo img {
        max-height: 100px;
    }

    .opponents-box {
        width: 45%;
        margin: 10px;
    }
    
    /* --- ABOUT --- */

    .two-column {
        flex-direction: column;
    }

    .two-column img {
        width: 100%;
    }


}









/* -- MEDIA QUERY MAX 600 -- */

@media only screen and (max-width: 600px) {

    /* -- GENERAL -- */
    .button-primary {
        padding: 15px 35px 15px 35px;
    }
    
    /* -- START PAGE -- */

    .heading-block-start {
        background-size: auto 100%;
    }

    .heading-block-text h1 {
        font-size: 2rem;
    }

    .heading-block-text p {
        max-width: 80%;
        font-size: 1rem;
    }

    .teams-box {
        width: 80%;
    }

    .teams-logo img {
        max-width: 70%;
        max-height: 70%;
    }

    /* --- TEAMS INFO ---*/

    .teams-presentation-header {
        flex-direction: column;
        align-items: center;
    }

    .teams-presentation-logo img {
        max-height: 100px;
    }

    .teams-presentation-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .teams-presentation-text h1 {
        font-size: 2rem;
    }

    .opponents-box {
        width: 100%;
        justify-content: center;
    }

    /* --- ABOUT --- */

    .heading-block-about {
        background-size: auto 100%;
    }

    .two-column {
        flex-direction: column;
    }

    .two-column img {
        width: 100%;
    }
}







