* {
    size: 16px;
    margin: 0;
}

.main {
    box-sizing: border-box;
}

:root {
    --primary-color: #1a3c8a; 
    --light-grey: #f1f3f7;
}

.header {
    background-color: var(--primary-color);
    padding: 2rem;
}

.header img {
    max-height: 5rem;
    justify-content: center;
}

nav {
    float: right;
}

nav a {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    text-decoration: none;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.one-clmn-grey {
    background-color: var(--light-grey);
    padding: 5rem;
}

.teams {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.teams div {
    border: 1px solid black;
    margin: 5rem;
    padding: 2rem;

    max-width: 20%;

    display: flex;
    flex-direction: column;
}

.teams div img {
    max-height: 30%;
    max-width: fit-content;
}